/* ========== 基础 Reset（必须） ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Electron / Vue 根节点 */
#app {
  width: 100%;
  height: 100%;
  background: #0b0d0f;
}

/* ========== 基础字体 ========== */
body {
  font-family:'Microsoft YaHei',
}
